{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock title %}
{% block title_header %}{{ section.title }}{% endblock title_header %}

{% block content %}
  {{ section.content | safe }}
{% endblock content %}

{% block footer %}
{% set section = get_section(path="blog/_index.md") %}
<h3>Blog</h3>
<ul>
  <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
  {% for page in section.pages %}
  <li><a href="{{ page.slug | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock footer %}