{% extends "base.html" %}

{% block links_extra %}
{% if page.toc %}
<select style="max-width: 170px; border-style: none; font-size: 0.8rem; padding: 0px" onchange="window.location.href = this.options[this.selectedIndex].value;">
  {% for h1 in page.toc %}
    <option value="#{{ h1.id | safe }}">{{ h1.title }}</option>
  {% endfor %}
  </select>
{% endif %}
{% endblock links_extra %}

{% block content %}
<div role="document">
    <section>
      {{ page.content | safe }}
    </section>
    <footer>
      <hr>
    </footer>
  </div>
{% endblock content %}
